<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.T2Market.admin.mapper.Admin_InfoMapper">

	<insert id="insertAdmin">
		insert into admin_info(admin_id, code_no, pass, name, active)
		values(#{admin_id}, #{code_no}, #{pass}, #{name}, #{active})
	</insert>
	
	<select id="getId" resultType="int">
		select count(*) from admin_info where admin_id=#{admin_id}
	</select>
	
	<update id="unusedAdmin">
		update admin_info
		set active='N', updatedate=sysdate
		where admin_id=#{admin_id}
	</update>
	
	<select id="codeSelect" resultType="kr.co.T2Market.admin.domain.Admin_InfoVO">
 	select code_no, code1, code2, code1_name, code2_name from code_info where active='Y' and code1='20000' order by code2 desc
 </select>
</mapper>