<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.T2Market.board.mapper.QnAMapper">

	<!-- <select id="getList" resultType="kr.co.T2Market.board.domain.QnAVO">
		<![CDATA[
			SELECT * FROM QNA_USER 
		]]>
	</select> -->
	
	<select id="countReciept" resultType="int">
		select count(qna_no) from qna_user
	</select>
	
	<select id="selectQnA" resultType="kr.co.T2Market.board.domain.QnAVO">
		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT qna_no, member_id, title, content content1, regdate, updatedate, reply_count
						from qna_user
						order by qna_no desc
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="read" resultType="kr.co.T2Market.board.domain.QnAVO">
		select qna_no, member_id, title, content content1, regdate, updatedate, reply_count from qna_user where qna_no = #{qna_no}
	</select>



	<update id="updateReplyCount">
		update qna_user qu
		set qu.reply_count=(select count(qna_no) from qna_admin
		    				where qna_no=#{qna_no})
		where qu.qna_no=#{qna_no}
	</update>
</mapper>
