<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.T2Market.board.mapper.ReplyMapper">
	
	<select id="read" resultType="kr.co.T2Market.board.domain.ReplyVO">
		<![CDATA[
			SELECT * FROM qna_admin 
			where qna_no = #{qna_no}
		]]>
	</select>
	
	<select id="countReply" resultType="int">
		select count(*) 
		from qna_admin
		where qna_no = #{qna_no}
	</select>
	
	<select id="selectReply" resultType="kr.co.T2Market.board.domain.ReplyVO">
		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT *  
						from qna_admin
						where qna_no = #{qna_no}
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="getListWithPaging" resultType="kr.co.T2Market.board.domain.ReplyVO">
		select * from qna_admin
		where qna_no = #{qna_no}
		order by answer_no asc
	</select>
	
	<insert id="insert"> 
		insert into qna_admin (answer_no, admin_id, qna_no, content, regdate, updatedate)
			values(seq_admin_answer_no.nextval, #{admin_id}, #{qna_no}, #{content}, sysdate, sysdate)
	</insert>
	
	<update id="update">
		update qna_admin
		set content = #{content},
			updatedate = sysdate
		where answer_no = #{answer_no}
	</update>
	
	<delete id="delete">
		delete from qna_admin 
		where answer_no = #{answer_no}
		
	</delete>
	
</mapper>
