<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.T2Market.code.mapper.CodeMapper">

<select id="getCodeList" resultType="kr.co.T2Market.code.domain.CodeVO">
	<![CDATA[
		SELECT * FROM code_info
	]]>
</select>

<insert id="insertCode">
	INSERT INTO CODE_INFO (code_no, code1, code1_name, code2, code2_name, code3, code3_name, bigo, regdate, updatedate, active) 
		VALUES (seq_code_info.nextval, #{code1}, #{code1_name}, #{code2}, #{code2_name}, #{code3}, #{code3_name}, #{bigo}, sysdate, sysdate, #{active})
</insert>

<update id="updateCode">
	UPDATE CODE_INFO set 
		code2 = #{code2},
		code2_name = #{code2_name},
		code3 = #{code3},
		code3_name = #{code3_name},
		bigo = #{bigo},
		updatedate = sysdate,
		active = #{active} 
		where code_no = #{code_no}
</update>

<select id="readCode" resultType="kr.co.T2Market.code.domain.CodeVO">
	SELECT * FROM CODE_INFO where code_no = #{code_no}
</select>

<select id="countCode" resultType="int">
<![CDATA[
	SELECT COUNT(*) FROM CODE_INFO where active='Y' ]]>
	<include refid="PagingVO"></include>
</select>

<select id="selectCode" resultType="kr.co.T2Market.code.domain.CodeVO">
<![CDATA[
	SELECT * 
	FROM (
   	 SELECT ROWNUM RN, A.* 
		FROM (
	            SELECT *  
				from code_info where active='Y' ]]> 
				<include refid="PagingVO"></include> 
				<![CDATA[
   		 		order by code1 asc 
 	  	     	) A
					)
  	  WHERE RN BETWEEN #{start} and #{end}]]>
</select>

<sql id="PagingVO">
		<if test="searchType != null">
			<if test="searchType == 'r'.toString()">and code1 like '%'||#{keyword}||'%'</if>
			<if test="searchType == 'm'.toString()">and code1_name like '%'||#{keyword}||'%'</if>
			<if test="searchType == 'd'.toString()">and code2 like '%'||#{keyword}||'%'</if>
			<if test="searchType == 's'.toString()">and code2_name like '%'||#{keyword}||'%'</if>
		</if>
	</sql>

</mapper>	