<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.T2Market.reciept.mapper.RecieptAdminMapper">
<!-- 
	<select id="recieptList" resultType="kr.co.T2Market.reciept.domain.RecieptAdminVO">
		<![CDATA[
			select rd.reciept_no, rd.member_id, m.name, r.indate, rd.recieve_date, rd.delivery 
			from reciept_detail rd, member m, reciept r
			where rd.reciept_no = r.reciept_no and rd.member_id = m.member_id
			order by rd.recieve_date desc
		]]>
	</select> -->
	
	<select id="countReciept" resultType="int">
		select count(*) from reciept_detail rd, member m, reciept r
		where rd.reciept_no = r.reciept_no and rd.member_id = m.member_id
		<include refid="PagingVO"></include>
	</select>
	
	<select id="selectReciept" resultType="kr.co.T2Market.reciept.domain.RecieptAdminVO">
		<![CDATA[
		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT rd.detail_no, rd.reciept_no, rd.member_id, m.member_name, r.indate, rd.recieve_date, rd.delivery  
						from reciept_detail rd, member m, reciept r
						where rd.reciept_no = r.reciept_no and rd.member_id = m.member_id ]]>
						<include refid="PagingVO"></include>
						<![CDATA[
						order by rd.detail_no desc
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end} ]]>
	</select>
	
	<sql id="PagingVO">
		<if test="searchType != null">
			<if test="searchType == 'r'.toString()">and rd.reciept_no like '%'||#{keyword}||'%'</if>
			<if test="searchType == 'm'.toString()">and rd.member_id like '%'||#{keyword}||'%'</if>
			<if test="searchType == 'd'.toString()">and rd.delivery like '%'||#{keyword}||'%'</if>
		</if>
	</sql>
	
	<select id="recieptRead" resultType="kr.co.T2Market.reciept.domain.RecieptAdminVO">
		select rd.detail_no, rd.member_id, r.buyer_name, r.reciever_name, r.reciever_address, ci.product_no, p.product_name, r.indate, ci.sales, ci.total_price, rd.recieve_date, rd.delivery, rd.updatedate
        from reciept_detail rd, reciept r, cart_info ci, product p
        where rd.reciept_no = r.reciept_no and rd.member_id = r.member_id and p.product_no = ci.product_no and r.member_id = ci.member_id and r.cart_no = ci.cart_no
        and rd.detail_no = #{detail_no}
	</select>
	
	<update id="recieptUpdate">
		update 
		(select rd.detail_no, rd.member_id, r.buyer_name, r.reciever_name, r.reciever_address, ci.product_no, p.product_name, r.indate, ci.sales, ci.total_price, rd.recieve_date, rd.delivery, rd.updatedate
        from reciept_detail rd, reciept r, cart_info ci, product p
        where rd.reciept_no = r.reciept_no and rd.member_id = r.member_id and p.product_no = ci.product_no and r.member_id = ci.member_id and r.cart_no = ci.cart_no) A
		set A.recieve_date = sysdate, A.delivery = #{delivery}, A.updatedate=sysdate
		where A.detail_no = #{detail_no}
	</update>
</mapper>