<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.T2Market.login.mapper.AdminLoginMapper">

	<resultMap type="kr.co.T2Market.login.domain.AdminVO" id="adminMap">
		<id property="admin_id" column="admin_id" />
		<result property="admin_id" column="admin_id" />
		<result property="pass" column="pass" />
		<result property="name" column="name" />
		<result property="active" column="active" />
		<result property="regdate" column="regdate" />
		<result property="updatedate" column="updatedate" />
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	
	<resultMap type="kr.co.T2Market.login.domain.AuthVO" id="authMap">
		<result property="admin_id" column="admin_id" />
		<result property="code2" column="code2"/>
	</resultMap>
	
	<select id="read" resultMap="adminMap">
	<![CDATA[
	select 
		ADMIN_ID, PASS, NAME, REGDATE, UPDATEDATE, CODE2, active 
	from
		admin_info
    WHERE
        ADMIN_ID = #{admin_id}
	]]>
	</select>

</mapper>